<div class="d-flex w-100 justify-content-between">
  <mat-form-field class="w-75">
    <input
      matInput
      type="text"
      [formControl]="wordInput"
      (keydown.space)="preventSpace($event)"
      (keydown.enter)="addWordToSearch()"
      placeholder="Word to search for"
    />
    <mat-error *ngIf="wordInput.hasError('empty')">
      Please enter a word
    </mat-error>
  </mat-form-field>
  <button
    class="h-50 my-auto"
    mat-flat-button
    color="primary"
    (click)="addWordToSearch()"
  >
    Add
  </button>
</div>

<div class="wordsToSearchArea w-100 mt-4">
  <div
    *ngFor="let word of words; trackBy: wordTrackFn"
    class="d-flex justify-content-between"
  >
    {{ word }}
    <button mat-icon-button color="warn" (click)="removeWordToSearch(word)">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
