mat-form-field {
  width: 26rem;

  .letter-grid {
    font-family: monospace;
    font-size: 2rem;
    letter-spacing: 1rem;
    line-height: 1;
    width: 26rem;
    overflow-wrap: none;
    word-wrap: unset;
  }
}
